<template name="newEvent">


    <!-- Page heading -->
    {{> pageHeading title='New Event' }}
    {{#if currentUser}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-7">
                    <h2><b>What type of event would you like to create?</b></h2>
                    <br>
                    <a class="btn btn-sm btn-primary" type="button" id="oneToOne" href = "{{pathFor route='newOneToOneEvent'}}"><strong>One-to-One</strong></a>
                    <br><br>
                    Create a One-to-One Event (think "speed-dating")
                    <br><br><br>
                    <a class="btn btn-sm btn-primary" type="button" id="oneToMany" href ="{{pathFor route='newOneToManyEvent'}}"><strong>One-to-Many</strong></a>
                    <br><br>
                    Create a One-to-Many Event (think "poster presentations")
                </div>
            </div>
        </div>
    {{/if}}
    </template>