
<template name="stopWatch">

    {{> pageHeading title='Event Timer' category='Events Owned'}}
    {{#if currentUser}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        {{>clock}}
                        <br><br>
                        Note: Walk-ins and Participants with no partner should<br>
                        <b>One-to-One:</b> go to the lowest numbered table with only two participants<br>
                        <b>One-to-Many:</b> go to whatever poster is not on their schedule that interests them most
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>

<template name = "clock">
    <h1>Current Time: {{time}}</h1>
    <button type = "button" id = "stop">Stop</button>
    <button type = "button" id="reset">Reset</button>
</template>
