<template name="allSchedules">

    {{> pageHeading title='Schedules' }}

    {{> pageHeading title='Schedule' }}

    <style>
        th, td {
            padding: 3px;
            text-align: center;
        }

        td{
            border-bottom: 1px solid darkgray;}

        input[type="number"]{
            text-align: right;
            width: 80px;
        }
    </style>

    {{#if currentUser}}

        <!-- for each attendee -->
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">

                        <h2>Attendee Name</h2>

                        <!-- for each session -->
                        <div class="ibox-title">
                            <h3>Session 1</h3>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <th>Activity #</th>
                                    <th>Station</th>
                                    <th>Station #</th>
                                </tr>

                                <!-- foreach activity in session -->
                                <tr>
                                    <td>1</td>
                                    <td>John Smith</td>
                                    <td>3</td>
                                </tr>
                                <!-- end each activity -->

                            </table>
                        </div>
                        <!-- end each session -->

                    </div>
                </div>
            </div>
        <!-- end each attendee -->

    {{/if}}
</template>