<template name="eventRegistrationOne">

    <style>
        th, td {
            padding: 5px;
            text-align: center;
        }

        input[type="number"]{
            text-align: right;
            width: 80px;
        }
    </style>

    {{> pageHeading title='Event Sign-Up' }}
    {{#if currentUser}}

    <div class="wrapper wrapper-content animated fadeInRight">

        {{#each event in eventObject}}
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title"><h3>Event Information</h3></div>
                <div class="ibox-content">
                    <b>Event Name: </b><label id="eventName">{{event.name}}</label><br>
                    <b>Event Location: </b><label id="eventLocation">{{event.location}}</label><br>
                    <b>Event Dates: </b><label id="eventStart">{{event.startDate}}</label> to <label id="eventEnd">{{event.endDate}}</label><br>
                </div>
            </div>
        </div>

        <form class="form-horizontal">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Preference Settings</h3>
                    </div>

                    {{#each preference in event.preferenceSettings}}
                        <div class="ibox-content">
                            <form class="form-horizontal">
                                <p><label id="prefName_1">{{preference.prefName}}</label></p>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Which Best Describes You?</label>
                                    <div class="col-sm-6">
                                        <select class="form-control m-b" id="userAttribute_{{preference.prefName}}">
                                            {{#each preferenceOption in preference.prefOptions}}
                                            <option>{{preferenceOption}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-lg-3 control-label">Who would you like to meet?</label>
                                        <div class="col-sm-9">
                                            <table border="1">
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Prefer not to meet</th>
                                                    <th>No Preference</th>
                                                    <th>Prefer to meet</th>
                                                </tr>
                                                {{#if isDetailedPreference preference.prefType}}
                                                <!-- if detailed preference selection -->
                                                    {{#each option in preference.prefOptions}}
                                                    <!-- for each option -->
                                                    <tr>
                                                        <td>{{option}}</td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-{{option}}" value="dislike"/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-{{option}}" value="neutral" checked/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-{{option}}" value="like"/></td>
                                                    </tr>
                                                    {{/each}}
                                                {{else}}
                                                <!-- else ("like me" selection) -->
                                                    <tr>
                                                        <td>Like Me</td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" value="dislike"/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" value="neutral" checked/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" value="like"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Unlike Me</td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" value="dislike"/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" value="neutral" checked/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" value="like"/></td>
                                                    </tr>
                                                {{/if}}
                                                <!-- end if -->
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Special Considerations</h3>
                    </div>
                    <div class="ibox-content">
                        <table>
                            <tr>
                                <th></th>
                                <th>Date</th>
                                <th>Hour (24)</th>
                                <th>Minute</th>
                            </tr>
                            <tr>
                                <td><label>Will you be arriving late?</label></td>
                                <td><input type="date" id="lateArrivalDay"></td>
                                <td><input type="number" min="0" max="23" id="lateArrivalHour"></td>
                                <td><input type="number" min="0" max="59" id="lateArrivalMin"></td>
                            </tr>
                            <tr>
                                <td><label>Will you be leaving early?</label></td>
                                <td><input type="date" id="earlyDepartureDay"></td>
                                <td><input type="number" min="0" max="23" id="earlyDepartureHour"></td>
                                <td><input type="number" min="0" max="59" id="earlyDepartureMin"></td>
                            </tr>
                        </table>
                        <div class="checkbox checkbox-primary">
                            <input id="handicapped" name="handicapped" type="checkbox">
                            <label for="handicapped">
                                I have a physical limitation, and request to remain at the same station when possible
                            </label>
                        </div>


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-11">
                    <button class="btn btn-sm btn-primary pull-left m-t-n-xs" type="submit" id ="signUp"><strong>Sign Up</strong></button>
                </div>
            </div>
        </form>
        {{/each}}
    </div>
    {{/if}}
</template>