<template name="eventsOwned">

    <style>
        th, td {
            padding: 3px;
        }
        
        td{
            border-bottom: 1px solid darkgray;}

        input[type="number"]{
            text-align: right;
            width: 80px;
        }
    </style>

    {{> pageHeading title='Events Owned' }}
    {{#if currentUser}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Events You Own</h3>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Start</th>
                            <th>Location</th>
                        </tr>
                        {{#each event in eventsOfOwner}}
                        <tr>

                            <td><b>{{event.name}}</b></td>
                            <td>{{event.startDate}}</td>
                            <td>{{event.location}}</td>
                            <td><a class="btn" type="button" href ="eventDetails/{{event._id}}">Event Details</a></td>
                            <td><a class="btn" type="button" href ="manageAttendees/{{event._id}}">Attendees</a></td>
                            <td><a class="btn" type="button" href ="pageOne/{{event._id}}">Schedules</a></td>
                            <td><a class="btn" type="button" href ="stopWatch/{{event._id}}">Event Timer</a></td>

                        </tr>
                        {{/each}}

                    </table>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>