<template name="eventDetails">

    <style>
        th, td {
            padding: 5px;
            border-bottom: 1px solid darkgray;
        }

        input[type="number"]{
            text-align: right;
            width: 80px;
        }
    </style>

    {{> pageHeading title='Event Details' category='Events Owned'}}
    {{#if currentUser}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-left m-t-lg">
                    <h1>
                        Event Details
                    </h1>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>
        </div>

        {{#each event in eventObject}}
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title"><h3>Basic Event Information</h3></div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>Event Name: </b><label id="eventName">{{event.name}}</label><br>
                            <b>Event Location: </b><label id="eventLocation">{{event.location}}</label><br>
                            <b>Event Dates: </b><label id="eventStart">{{event.startDate}}</label> to <label id="eventEnd">{{showEndDate}}</label><br>
                            <br>
                            <b>Event Signup URL: </b><label id="eventURL">{{showURL}}</label><br>
                        </div>
                        <div class="col-lg-6">
                            <b>Event Type: </b><label id="eventType">{{getEventType}}</label><br>
                            <b>Number of Activities: </b><label id="activityCount">{{getActivityCount}}</label><br>
                            <b>Activity Length: </b><label id="activityLength">{{getActivityLength}}</label><br>
                            <b>Break Length: </b><label id="breakLength">{{getBreakLength}}</label><br>
                            <b>Time Filled </b><label id="activityCount">{{getActivityCount}}</label> minutes<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Preference Settings</h3>
                </div>
                <div class="ibox-content">
                   <table>
                       <tr>
                           <th>Preference Name</th>
                           <th>Options</th>
                       </tr>
                       <tr>
                           <td>Preference 1</td>
                           <td>
                               <ul>
                                   <li>Option 1</li>
                                   <li>Option 2</li>
                                   <li>Option 3</li>
                               </ul>
                           </td>
                       </tr>
                       <tr>
                           <td>Preference 2</td>
                           <td>
                               <ul>
                                   <li>Option 1</li>
                                   <li>Option 2</li>
                                   <li>Option 3</li>
                               </ul>
                           </td>
                       </tr>
                   </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-11">
                <button class="btn btn-sm btn-primary pull-left m-t-n-xs" id="deleteEvent" type="submit"><strong>Delete Event</strong></button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</template>