<template name="eventsOwned">

    <style>
        th, td {
            padding: 3px;
            text-align: center;
            border-bottom: 1px solid black;
        }

        input[type="number"]{
            text-align: right;
            width: 80px;
        }
    </style>

    {{> pageHeading title='Manage Events You Own' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Your Events</h3>
                </div>
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td><b>(Event Name)</b></td>
                            <td><b>(Start Date)</b></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Event Details</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Attendees</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Schedules</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='stopWatch'}}">Event Clock</a></td>
                        </tr>
                        <tr>
                            <td><b>(Event Name)</b></td>
                            <td><b>(Start Date)</b></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Event Details</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Attendees</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Schedules</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='stopWatch'}}">Event Clock</a></td>
                        </tr>
                        <tr>
                            <td><b>(Event Name)</b></td>
                            <td><b>(Start Date)</b></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Event Details</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Attendees</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='pageOne'}}">Schedules</a></td>
                            <td><a class="btn" type="button" href ="{{pathFor route='stopWatch'}}">Event Clock</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>