<template name="home">

    {{> pageHeading }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        Welcome to IntroNet
                    </h1>
                    <small>
                        A website dedicated to running and optimizing networking events.<br>
                        Use the tabs on the left to get started.
                    </small>
                </div>
            </div>
        </div>
    </div>
</template>