<template name="joinEvent">


    <!-- Page heading -->
    {{> pageHeading title='Join an Event' }}
    {{#if currentUser}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-5">
                <h2><b>Please enter the Event ID of the Event you wish to join:</b></h2>
                <br>
                <input type="text" class="form-control" id="eventID" name = "eventID">
                <br>
                <a class="btn btn-sm btn-primary" type="button" id="oneToOne" href = "#"><strong>Join Event</strong></a>
            </div>
        </div>
    </div>
    {{/if}}
</template>