<template name="myPreferences">

    {{> pageHeading title='Preferences' }}

    <style>
        th, td {
            padding: 5px;
            text-align: center;
        }

        input[type="number"]{
            text-align: right;
            width: 80px;
        }
    </style>
    {{#if currentUser}}

        <form class="form-horizontal">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Preference Settings</h3>
                    </div>
                    {{#each event in eventObject}}
                    <!-- TODO: build isOneToOne Helper -->
                    <!-- if OneToOne -->
                        <!-- for each preference -->
                        {{#each preference in event.preferenceSettings}}
                            <div class="ibox-content">
                                <form class="form-horizontal">
                                    <p><label id="prefName_1">{{preference.prefName}}</label></p>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Which Best Describes You?</label>
                                        <div class="col-sm-6">
                                            <select class="form-control m-b" id="userAttribute_{{preference.prefName}}">
                                                {{#each preferenceOption in preference.prefOptions}}
                                                    <option>{{preferenceOption}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="col-lg-3 control-label">Who would you like to meet?</label>
                                            <div class="col-sm-9">
                                                <table border="1">
                                                    <tr>
                                                        <th>Category</th>
                                                        <th>Prefer not to meet</th>
                                                        <th>No Preference</th>
                                                        <th>Prefer to meet</th>
                                                    </tr>

                                                    {{#if isDetailedPreference preference.prefType}}
                                                    <!-- if detailed preference selection -->
                                                        {{#each option in preference.prefOptions}}
                                                        <!-- for each option -->
                                                        <tr>
                                                            <td>{{option}}</td>
                                                            <td><input type="radio" name="pref-{{preference.prefName}}-{{option}}" value="dislike"/></td>
                                                            <td><input type="radio" name="pref-{{preference.prefName}}-{{option}}" value="neutral" checked/></td>
                                                            <td><input type="radio" name="pref-{{preference.prefName}}-{{option}}" value="like"/></td>
                                                        </tr>
                                                        <!-- end for -->
                                                        {{/each}}
                                                    <!-- else ("like me" selection) -->
                                                    {{else}}
                                                    <tr>
                                                        <td>Like Me</td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" value="dislike"/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" checked value="neutral"/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-same" value="like"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Unlike Me</td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-diff" value="dislike"/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-diff" value="neutral" checked/></td>
                                                        <td><input type="radio" name="pref-{{preference.prefName}}-diff" value="like"/></td>
                                                    </tr>
                                                    <!-- end if -->
                                                    {{/if}}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        <!-- end foreach -->
                        {{/each}}
                    <!-- else if OneToMany -->
                        <div class="ibox-content">
                            <form class="form-horizontal">
                                <p><label id="prefName_1">Presentations</label></p>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="col-lg-3 control-label">Which would you like to see?</label>
                                        <div class="col-sm-9">
                                            <table border="1">
                                                <tr>
                                                    <th>Presentation Name</th>
                                                    <th>Abstract</th>
                                                    <th>Prefer not to see</th>
                                                    <th>No Preference</th>
                                                    <th>Prefer to see</th>
                                                </tr>

                                                {{#each pres in event.presentations}}
                                                    <tr>
                                                        <td>{{pres.title}}</td>
                                                        <td>{{pres.abstract}}</td>
                                                        <td><input type="radio" name="pres-{{pres.presenter}}" value="dislike"/></td>
                                                        <td><input type="radio" name="pres-{{pres.presenter}}" value="neutral" checked/></td>
                                                        <td><input type="radio" name="pres-{{pres.presenter}}" value="like"/></td>
                                                    </tr>
                                                {{/each}}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <!-- end if -->

                    {{/each}}

                </div>
            </div>
        </form>



    {{/if}}

    </template>