<template name="newEvent">


        <!-- Page heading -->
        {{> pageHeading title='Create a New Event' category='Event Management' }}

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-7">
                    <h2><b>What type of event would you like to create?</b></h2>
                    <br>
                    <button class="btn btn-sm btn-primary" type="button" id="oneToOne"><strong>One-to-One</strong></button>
                    <br><br>
                    Create a One-to-One Event (think "speed-dating")
                    <br><br><br>
                    <button class="btn btn-sm btn-primary" type="button" id="oneToMany"><strong>One-to-Many</strong></button>
                    <br><br>
                    Create a One-to-Many Event (think "poster presentations")
                </div>
            </div>
        </div>
    </template>