<template name="newOneToManyEvent">

    <style>
        th, td {
            padding: 5px;
        }

        input[type="number"]{
            text-align: right;
            width: 80px;
        }
    </style>

    <!-- Page heading -->
    {{> pageHeading title='New One-to-Many Event' category='Event Management' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-8">
                <h2><b>Enter your Event's Attributes Below:</b></h2>
                <form role="form" id="generalForm">
                    <div class="form-group">
                        <label>Event Name</label>
                        <input type="text" class="form-control" id="eventName" name = "eventName">
                    </div>
                    <div class="form-group">
                        <label>Event Location</label>
                        <input type="text" class="form-control" id="eventLocation" name = "eventLocation">
                    </div>
                    <div class="form-group" id="dateRange">
                        <h3>Event Dates:</h3>
                        <table>
                            <tr>
                                <td style=""><label class="font-normal">Start Date:</label></td>
                                <td><input type="date" id="startDate" name = "startDate"></td>
                                <td></td>
                                <td style=""><label class="font-normal">End Date:</label></td>
                                <td><input type="date" id="endDate" name = "endDate"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="ibox">
                        <div class="ibox-title"><h3>Choose <u>any two</u> of your Activity Parameters: (then calculate the third)</h3></div>
                        <div class="form-group ibox-content">
                            <table>
                                <tr>
                                    <td>Number of Activities:</td>
                                    <td><input type="number" min="0" id="actvtyCount" name = "activityCount"></td>
                                </tr>
                                <tr>
                                    <td>Activity Length (min):</td>
                                    <td><input type="number" min="0" id="actvtyLength" name = "activityLength"></td>
                                </tr>
                                <tr>
                                    <td>Total Time (min):</td>
                                    <td><input type="number" min="0" id="totalTime" name = "totalTime"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button class="btn btn-white" type="button" id="calcThirdParam">Calculate Third Parameter</button></td>
                                </tr>
                                <tr>
                                    <td>Break Length (min):</td>
                                    <td><input type="number" min="0" id="breakLength" value="2" name = "breakLength"></td>
                                </tr>
                                <tr>
                                    <td>Minimum Participants:</td>
                                    <td><label id="minParticipants"></label></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <table>
                        <tr>
                            <td><label>Number of Sessions:</label></td>
                            <td><input type="number" min="0" id="sessionCount" value="1"></td>
                        </tr>
                    </table>
                    (for breaking events into multiple days, etc.)
                    <br><br><br>

                    <table id="sessionPicker" border="1">
                        <tr>
                            <th>Session Number:</th>
                            <th>Session Start:</th>
                            <th>Number of Activities:</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><input type="date" id="sess1Start"></td>
                            <td><input type="number" min="0" id="sess1Count"></td>
                        </tr>
                    </table>
                    <br><br>

                    <button class="btn btn-primary pull-left" type="submit">Create Event</button>
                </form>
            </div>
        </div>
    </div>
</template>