<template name="userProfile">

    {{> pageHeading title='User Profile' category='User Profile'}}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">

            <div class="col-lg-12">
                <div class="text-left m-t-lg">
                    <h1>
                        View/Edit your Profile settings:
                    </h1>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="m-t" role="form" action="#" id = "updateProfile">
                        <div class="form-group">
                            <label><h3>Current Name: {{#if currentUser}}{{currentUser.profile.name}}{{/if}} </h3></label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label><h3>Biography</h3></label>
                            <textarea class="form-control" name="biography" rows="6">{{#if currentUser}}{{currentUser.profile.biography}}{{/if}}</textarea>
                        </div>
                        <div class="form-group">
                            <label><h3>Ice-breakers (e.g. "Ask me about chess," etc.)</h3></label>
                            <input type="text" class="form-control" name="iceBreakers" >
                        </div>
                        <div class="form-group">
                            <label><h3>Would you like to receive email reminders about your events?</h3></label>
                            <br/>
                            <div class="col-lg-1 control-label"></div>
                            <div class="checkbox checkbox-primary">
                                <input id="okToEmail" name="okToEmail" type="checkbox">
                                <label for="okToEmail">
                                    Yes, send me reminders
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary block m-b">Make Changes</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>

