
<template name="viewEventAttendees">

    {{> pageHeading title='Event Attendees' category="Events Attending"}}
    {{#if currentUser}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Attendees</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Biography</th>
                                <th>Ice Breakers</th>
                            </tr>
                            </thead>
                            <tbody>

                                <!-- for each attending user (alphabetical order) -->
                                {{#each user in attendees}}
                                    <tr>
                                        <td>{{user.profile.name}}</td>
                                        <td>{{user.profile.biography}}</td>
                                        <td>{{user.profile.iceBreakers}}</td>
                                    </tr>
                                {{/each}}
                                <!-- end each user -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>

