
<template name="viewEventAttendees">

    {{> pageHeading title='Event Attendees' category="Events Attending"}}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Attendees</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Biography</th>
                                <th>Ice Breakers</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Daniel,Since ATM is provably undecidable, H cannot exist. Since everything in the procedure of H exists except the TM A - an assumed decider for NCTM, the TM A cannot exist. NCTM is undecidable because no decider for it can exist. End of Proof.
                                </td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <td>Chas</td>
                                <td>good</td>
                                <td>First</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

